@import '../../../scss/settings/colors';

.fourColumns {
  display: flex;
  justify-content: center;
  padding: 20px;

  h4 {
    text-align: left;
    font: 18px Open Sans;
    letter-spacing: 0px;
    color: $main-color;
  }

  .firstCol .secCol .thirdCol .fourthCol {
    padding: 20px;
    text-align: center;
    font: 16px Open Sans;
    color: $main-color;
    width: 50%;
  }
}
