.Button {
  font: 18px Open Sans;
  color: #3C3C3C;
  opacity: 1;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #3C3C3C;
  }

  &--m {
    font-size: 24px;
    text-transform: capitalize;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #3C3C3C;
    }
  }

  &--l {
    font-size: 36px;
    border: 1px solid #3C3C3C;
  }
}
.button-heading {
  //margin-top: 108px;
  //text-align: center;
  //font: normal 300 36px Open Sans;
  //color: #3C3C3C;
  //text-decoration: none;
  //text-transform: uppercase;
  //padding: 10px;
  //border: 1px solid #3C3C3C;
}