.Button {
  font: 18px Open Sans;
  color: #3C3C3C;
  opacity: 1;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #3C3C3C;
  }

  &--xs {
    color: #737373;
    text-align: right;
    font: normal 13px Open Sans;
    text-decoration: none;
    width: 70px;
    display: flex;
    justify-content: center;

    &:hover {
      border: 0.75px solid #FAD648;
    }
  }

  &--m {
    font-size: 24px;
    text-transform: none;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid #3C3C3C;
    }
  }

  &--l {
    font-size: 36px;
    border: 1px solid #3C3C3C;
  }
}
.button-heading {
  //margin-top: 108px;
  //text-align: center;
  //font: normal 300 36px Open Sans;
  //color: #3C3C3C;
  //text-decoration: none;
  //text-transform: uppercase;
  //padding: 10px;
  //border: 1px solid #3C3C3C;
}