.HomeContact {
  margin-top: 60px;
  height: 1026px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  position: relative;

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.5;

    img {
      opacity: 0.3;
      width: 95%;
    }
  }
  .container {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    flex-grow: 1;
    margin-right: 60px;

    .contact {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h2 {
        text-align: center;
        font: normal 38px Open Sans;
        color: #3C3C3C;
      }
    }
  }
}

