.secondNavbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  a {
    text-align: left;
    font: 18px Open Sans;
    color: #3C3C3C;
    opacity: 1;
    padding: 16px;
    text-decoration: none;

    &:hover {
      border: 0.75px solid #3C3C3C;
    }
  }

}