.HomeHeader {
  height: 19px;
  top: 37px; // << to nie działa
  width: 100%;
  // font-style: $font-base; << to nie działa

.firstNav {
  display: flex;
  justify-content: flex-end;

  a {
    color: #737373;
    text-align: right;
    font: normal normal normal 13px Open Sans;
    text-decoration: none;
    width: 90px;
    display: flex;
    justify-content: center;

    &:hover {
      border: 0.75px solid #FAD648;
    }
  }
}

  .image {

  }

  .decoration {

  }
}